@model Elevatescape.Models.LoginClass

@{
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ViewBag.Title = "Index";
    Layout = null;
    <link href="~/Content/Site.css" rel="stylesheet" />
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="login-container">
        <div class="login-box">
            <img src="https://my.elevatescape.com/img/elevatescape-poster.png" alt="Elevatescape Poster" class="poster-img">
            <h3>Login</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default" style="width:69px;height:42px;" />
                </div>
            </div>

            <h1>@Html.ViewData["Message"]</h1>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
